apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: pedidos-veloz-gateway:v1
          envFrom:
            - configMapRef:
                name: app-config
          ports:
            - containerPort: 8080
