apiVersion: apps/v1
kind: Deployment
metadata:
  name: orders
spec:
  replicas: 1
  selector:
    matchLabels:
      app: orders
  template:
    metadata:
      labels:
        app: orders
    spec:
      containers:
        - name: orders
          image: pedidos-veloz-orders:v1
          env:
            - name: DATABASE_URL
              value: postgres://postgres:postgres@postgres-service:5432/orders
          ports:
            - containerPort: 3000
