apiVersion: apps/v1
kind: Deployment
metadata:
  name: stock
spec:
  replicas: 1
  selector:
    matchLabels:
      app: stock
  template:
    metadata:
      labels:
        app: stock
    spec:
      containers:
        - name: stock
          image: pedidos-veloz-stock:v1
          env:
            - name: DATABASE_URL
              value: postgres://postgres:postgres@postgres-service:5432/stock
          ports:
            - containerPort: 3001
