apiVersion: apps/v1
kind: Deployment
metadata:
  name: stock
spec:
  replicas: 1
  selector:
    matchLabels:
      app: stock
  template:
    metadata:
      labels:
        app: stock
    spec:
      containers:
      - name: stock
        image: pedidos-veloz-stock:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3001
