name: CI-CD

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build Docker Images
        run: |
          docker build -t pedidos-veloz-gateway:v1 ./gateway
          docker build -t pedidos-veloz-orders:v1 ./orders
          docker build -t pedidos-veloz-stock:v1 ./stock

      - name: Basic Lint Check
        run: echo "Lint placeholder OK"

      - name: Image Scan (simulado)
        run: echo "Security scan placeholder OK"

      - name: Publish images (simulado)
        run: echo "Imagens publicadas em registry (simulação)"
